// USING BOOTSTRAP-5 mixins, functions, variables
@import "bootstrap/scss/mixins.scss";
@import "bootstrap/scss/functions.scss";
@import "bootstrap/scss/variables.scss";

.check2 {
    background-color: map-get($grays, "100");
    color: green;
    font-size: 50px;
    font-weight: bolder;
    border: 1px solid red;
}
